<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxHOBl0XU21q1D6cgkMeYnLrYMxbbM1E0</string>
	<key>GCM_SENDER_ID</key>
	<string>150719745178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tcconnect</string>
	<key>PROJECT_ID</key>
	<string>t-c-connect-palw1q</string>
	<key>STORAGE_BUCKET</key>
	<string>t-c-connect-palw1q.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150719745178:ios:4881b9c62b545ab3116323</string>
</dict>
</plist>